:root {
  --white: #ffffff;
  --iris: #4d5ae5;
  --ocean: #404bbf;
  --cloud: #f4f4fd;
  --slate: #434455;
  --cornflower: #e7e9fc;
  --navyblue: #2e2f42;
}

body {
  font-family: "Roboto", sans-serif;
  background: #fff;
  color: var(--slate);
}

h2 {
  text-transform: capitalize;
  text-align: center;
}

/* Cancel underlining in links */
a {
  text-decoration: none;
}

/* Cancel displaying the marker in the list */
li {
  list-style-type: none;
}

/* Header */
.main-logo {
  color: var(--navyblue);
  font-family: Raleway, sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 800;
  line-height: 21px;
  letter-spacing: 0.54px;
  text-transform: uppercase;
}
.web-logo {
  color: var(--iris);
}

/* Navigations */
.main-lyst a {
  color: var(--navyblue);
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.32px;
}

.main-lyst a:hover {
  color: var(--ocean);
  text-decoration: underline;
}

/* Contacts */
.contacts a:link {
  color: var(--slate);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.32px;
}
.contacts a:hover,
.contacts a:focus {
  color: var(--ocean);
}

/* Main page */
.main-content {
  background: var(--navyblue);
}
.main-title {
  color: var(--white);
  text-align: center;
  font-size: 56px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.07;
  letter-spacing: 1.12px;
}

/* Button order-service */
.order-service {
  cursor: pointer;
  text-align: center;
  color: var(--white);
  background-color: var(--iris);
  border-radius: 4px;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.64px;
}
.order-service:hover {
  color: var(--white);
  background-color: var(--ocean);
}

/* Section2 */
.list h3 {
  text-align: left;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.4px;
}
.list p {
  color: var(--slate);
  text-align: left;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.32px;
}

/* Our team */
.our-team h3 {
  text-align: center;
}

.our-team p {
  color: var(--slate);
  text-align: center;
}

/* Footer */
.podval-page {
  background: var(--navyblue);
}

.podval-logo {
  color: var(--iris);
  font-family: Raleway, sans-serif;
  font-size: 18px;
  font-weight: 800;
  line-height: 1.17;
  letter-spacing: 0.54px;
  text-transform: uppercase;
}
.podval-web-logo {
  color: var(--cloud);
}
.podval-text {
  color: var(--cloud);
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.32px;
}

/* Portfolio */

/* List of button  */
.functional {
  cursor: pointer;
  background: var(--cloud);
  color: var(--iris);
  text-align: center;
  border: 1px solid var(--cornflower);
  border-style: none;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.64px;
}
.functional:hover {
  color: var(--white);
  background: var(--ocean);
}
